[submodule "world-server"]
	path = world-server
	url = git@github.com:FRICK-ELDY/alchemy-world-server.git
[submodule "protocol"]
	path = protocol
	url = git@github.com:FRICK-ELDY/alchemy-protocol.git
	branch = main
[submodule "client"]
	path = client
	url = git@github.com:FRICK-ELDY/alchemy-client.git
[submodule "auth-server"]
	path = auth-server
	url = git@github.com:FRICK-ELDY/alchemy-auth-server.git
	branch = main
